// внутрішній відступ елементу offers
.offers {
    padding: 80px 14.5% 100px;

    // стилистика та позиціюввання заголовку в верхньому та нижньому едементі offers (розмір, вага, колір шрифта, відступ від попереднього елемента
    .offers__heading {
        font-size: 1.5rem;
        font-weight: 700;
        color: $add-color;
        margin-bottom: 38px;
    }

    //розміщення елементів goods та відступ між ними
    .goods {
        @include flex(row, space-between, center);
        gap: 30px;

        // стилистика елемента goods (позиціювання внутрішніх елементів, колір фону, центрування елементів, внутрішні ввілступи батьківського елемента)
        .goods__item {
            @include flex(column, center, center);
            background-color: $main-color;
            text-align: center;
            padding: 25px 3.4% 25px;

            // нижній відступ між зображенням item-img  та тексом item-name
            .item-img {
                margin-bottom: 20px;
            }

            //стилистика тексту елемента item-name в елементі goods__item (розмір шрифтв, відступ між рядками, нижні відступ між елементом item-name та елементом item-price)
            .item-name {
                font-size: $accent-fs;
                line-height: 19.688px;
                margin-bottom: 20px;

                // колір шрифта для тексту в item-name
                .product {
                    color: $aux-color;
                }
            }

            //стиль в розділі ціны товару (розмір та вага шрифту, відуступ між символами)
            .item-price {
                font-size: 1.3125rem;
                font-weight: 500;
                letter-spacing: 1.05px;
            }

            //стиль кнопки BUY в елементі goods__item (колір фону, колір та розмір шрифту. відступ зверху від item-price, відступ між симфолами, внутрішній відступ)
            .item-btn {
                background-color: $accent-color;
                color: $main-color;
                font-size: $accent-fs;
                margin-top: 20px;
                letter-spacing: 0.7px;
                padding: 9px 20%;
                width: 130px;
            }

            //дія кнопки BUY при натисканні (зміна колірів фону та шрифта, відключення прозорості)
            .item-btn:active {
                background-color: $main-color;
                color: $accent-color;
                opacity: 1;
            }
        }
    }
}