@import url('https://fonts.googleapis.com/css2?family=Jura&family=Tourney:ital@0;1&display=swap');

/* 1 */
body {
    background-color: rgb(71, 71, 71);
    background: url(../images/backgrounds/carbon.jpg);
    padding: 10px;
    font-family: 'Jura', sans-serif;
}

/* 1 */
input,
select {
    padding: 3px;
}

/* 10 */
.wrapper-intro__img {
    background: url(../images/backgrounds/intro.jpg) #000 fixed no-repeat center;
}

/* 10 */
.wrapper-authorization__img {
    background: url(../images/backgrounds/authorization.jpg) #000 fixed no-repeat center;
}

/* 10 */
.wrapper-registration__img {
    background: url(../images/backgrounds/registration.jpg) #000 fixed no-repeat center;
}

/* 10 */
.wrapper-search__img {
    background: url(../images/backgrounds/search.jpg) #000 fixed no-repeat center;
}

/* 10 */
.wrapper-available__img {
    background: url(../images/backgrounds/available.jpg) #000 fixed no-repeat center;
}

/* 10 */
.wrapper {
    color: #fff;
    background-size: cover;
    border: 3px solid #818181;
    border-radius: 15px;
    height: 97vh;
    font-size: 1.2rem;
    position: relative;
}

/* 10 */
.header__heading {
    background-image: url(../images/backgrounds/carbon.jpg);
    margin: 30px 35%;
    padding: 8px;
    border: 3px solid #818181;
    border-radius: 15px;
    text-align: center;
    position: absolute;
}

/* 10 */
.header__paragraph {
    background-image: url(../images/backgrounds/carbon.jpg);
    padding: 8px;
    border: 3px solid #818181;
    border-radius: 15px;
    margin: 250px 10%;
    text-align: center;
    position: absolute;

}

/* 10 */
.nav__block {
    background-image: url(../images/backgrounds/carbon.jpg);
    padding: 8px 15px;
    border: 3px solid #818181;
    border-radius: 15px;
    margin: 500px 25%;
    line-height: 1.6rem;
    text-align: center;
}

/* 10 */
.nav__link {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}

/* 10 */
.modtext {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Tourney', cursive;
    font-style: italic;
    vertical-align: middle;
}


/* 10 */
.element__form {
    background-image: url(../images/backgrounds/carbon.jpg);
    padding: 8px 15px;
    border: 3px solid #818181;
    border-radius: 15px;
    margin: 1%;
    display: inline-table;
}

/* 10 */
.top_link {
    top: 86vh;
}

/* 10 */
.registration--spec {
    left: 25%;
}

/* 10 */
.search {
    left: 25%;
}

/* 10 */
.available {
    left: 50%;
}

.search--spec {
    left: 50%;
}

/* 10 */
.index {
    left: 75%;
}

/* 10 */
.block__link {
    background-image: url(../images/backgrounds/carbon.jpg);
    padding: 10px;
    border: 3px solid #818181;
    border-radius: 15px;
    width: 22%;
    margin: 1%;
    text-align: center;
    position: absolute;
}

/* 10 */
.car__item {
    background-image: url(../images/backgrounds/carbon.jpg);
    margin: 15px 0 0 18px;
    width: 48%;
    border: 3px solid #818181;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    line-height: 1.6rem;
}

/* 10 */
.car__name {
    margin-top: 15px;
}

/* 10 */
.footer {
    color: #fff;
    margin: 15px 27%;
    text-align: center;
}

/* 11 */
.car__item img {
    width: 41%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    float: left;
}