/* 21 */
.wrapper .wrapper__line:after {
    content: "";
    display: block;
    clear: both;
}
/* 30 */
.wrapper .wrapper__line .wrapper__item {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    line-height: 100px;
    text-align: center;
}
/* 30 */
.wrapper .wrapper__line .wrapper__item--board_marking {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid black;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}
/* 30 */
.wrapper .wrapper__line .wrapper__item--white_square {
    background-color: white;
    border: 1px solid black;
}
/* 31 */
.wrapper .wrapper__line .wrapper__item img {
    width: 70%;
    vertical-align: middle;
}